@import "../Helpers/helpers";

.addToCartBtn {
  @include btn;

  background: rgb(131,58,180);
  background: linear-gradient(90deg, #833ab4 50%, #fcb045 100%);
  color: $white-clr;
  padding: 0.8rem !important;
  display: flex;
  justify-content: center;
  transition: all 300ms ease-in-out;
  border-radius: 5px;
  text-transform: capitalize;

  &:hover {
    opacity: 0.8;
  }
}
