@import "../Helpers/helpers";

.footer {
   background-color: $tertiary-clr;
   margin-top: 4rem;

   &Container:nth-child(1) {
      background-color: $tertiary-clr;
   }

   &ContactInfo {
      @include container;
      border-bottom: 1px solid rgb(255, 255, 255, 0.5);

      padding: 2rem 0;

      display: flex;
      justify-content: space-between;
      align-items: center;

      @include breakpoint-down(medium) {
         flex-direction: column;
         align-items: initial;
         padding: 2rem 1rem;
      }

      li {
         flex: 1;
      }

      li {
         display: flex;
         align-items: flex-start;
         color: #fff;

         &:not(:last-child) {
            @include breakpoint-down(medium) {
               margin-bottom: 1rem;
            }
         }

         h4 {
            text-transform: capitalize;
            font-weight: 500;
            font-size: 1.125rem;
         }

         p {
            opacity: 0.5;
            margin-top: 0.5rem;
            font-size: 0.9rem;
         }

         .iconDiv {
            font-size: 1.6rem;
            border: 1px solid #fff;

            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;

            border-radius: 50%;
            margin-right: 1rem;

            span {
            }
         }

         &:not(:last-child) {
            border-right: 1px solid #fff;
            margin-right: 2rem;
            padding-right: 2rem;

            @include breakpoint-down(medium) {
               border-right: none;
               margin-right: 0;
               padding-right: 0;
            }
         }

         &:nth-child(2) {
            justify-content: center;

            @include breakpoint-down(medium) {
               justify-content: flex-start;
            }
         }
      }
   }

   &Container:nth-child(2) {
      @include container;
      border-bottom: 1px solid rgb(255, 255, 255, 0.5);

      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 0;

      @include breakpoint-down(medium) {
         flex-direction: column;
         padding: 2rem 1rem;
         align-items: initial;
      }

      > * {
         flex: 1;
      }
   }

   &Form {
      order: 3;

      @include breakpoint-down(medium) {
         margin-top: 1rem;
      }

      &Label {
         display: block;
         font-size: 1.5rem;
         color: #fff;
         margin-bottom: 1rem;
         max-width: 350px;
         text-transform: capitalize;
      }

      &InputDiv {
         position: relative;
         border-bottom: 1px solid #fff;

         .icon {
            position: absolute;
            right: 0;
            bottom: 0;
            color: #fff;
            font-size: 1.3rem;
         }

         &:focus {
            opacity: 1;
         }
      }

      &Input {
         all: unset;
         padding: 0 0.5rem 0.5rem 0.5rem;
         color: #fff;
         opacity: 0.5;
         margin-top: 1rem;
         font-size: 1rem;
         width: 87%;
      }
   }

   h3 {
      font-weight: 400;
      color: #fff;
      text-transform: capitalize;
      font-size: 1.5rem;

      @include breakpoint-down(medium) {
         margin-top: 1rem;
      }
   }

   &SocialLinks {
      display: flex;
      align-items: center;
      margin-top: 1rem;

      li {
         font-size: 2rem;
         color: #fff;
         opacity: 0.5;
      }

      > * + * {
         margin-left: 1rem;
      }
   }

   &Links {
      display: inline-block;
      color: #fff;
      text-transform: capitalize;

      li {
         margin-bottom: 0.5rem;
         opacity: 0.5;
         cursor: pointer;

         &:hover {
            text-decoration: underline;
            opacity: 1;
         }
      }
   }

   &Container:nth-child(3) {
      padding: 2rem;
      background-color: $tertiary-clr;
      text-align: center;
      color: #fff;
   }
}
