@import "../Helpers/helpers";

.nav {
    padding: 1.3rem 0;
    background-color: $white-clr;
    border-bottom: 0.7px solid #e7e7e7;

    &Container {
        @include container;

        display: flex;
        justify-content: space-between;
        align-items: center;

        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    &Logo {
        width: 180px;
    }

    &Links {
        text-transform: uppercase;
        font-weight: $fw-light;
    }

    &Icons {
        > li {
            font-size: 1.7rem;
            cursor: pointer;
            position: relative;

            span {
                position: absolute;
                top: -3px;
                right: -10px;
                font-size: 0.9rem;
                background: $primary-clr;
                border-radius: 50%;
                width: 18px;
                height: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white-clr;
                font-weight: 500;
            }
        }
    }

    &Links,
    &Icons {
        display: flex;
        align-items: center;

        > * + * {
            margin-left: 2rem;
        }
    }
}
