@import "../Helpers/helpers";

.ub {
  background-color: $dark-clr;
  color: $light-clr;
  font-size: $text-sm;
  font-weight: $fw-light;
  text-align: center;
  padding: 0.7rem 0;
  text-transform: uppercase;

  &Content {
    color: $light-clr;
  }
}
