@import "../Helpers/helpers";

.modal {
    position: relative;

    &Container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        z-index: 210;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 3rem;

        h2 {
            font-size: $text-3xl;
            text-transform: capitalize;
            font-weight: $fw-medium;
            margin: 1rem 0;
        }

        p {
            font-size: $text-lg;
            font-weight: $fw-regular;
            opacity: 0.9;
            text-transform: capitalize;
            margin-bottom: 1rem;
        }

        .imgDiv {
            width: 45%;
        }

        .closeIcon {
            position: fixed;
            top: 1rem;
            right: 1rem;
            font-size: 1.4rem;
            opacity: 0.9;
            cursor: pointer;
        }

        &Form {
            height: 47px;
            width: 80%;
            display: flex;
            margin-top: 1rem;

            input {
                all: initial;
                padding: 0 1rem;
                background-color: #f4f4f4;
                flex: 1;
                border-radius: 6px;
            }

            button {
                all: initial;
                background-color: $primary-clr !important;
                padding: 0 1rem;
                color: #fff;
                margin-left: 0.5rem;
                border-radius: 6px;
                cursor: pointer;
            }

            input,
            button {
                height: 100%;
            }
        }
    }

    &Overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 200;
        background: rgba($color: #000000, $alpha: 0.5);
    }
}

.showModal {
    display: block;
}

.hideModal {
    display: none;
}
