@import "../Helpers/helpers";

.products {
  @include container;

  h2 {
    font-weight: $fw-regular;
    font-size: $text-xl;
    text-transform: uppercase;
  }

  .grid {
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    margin: 2rem 0;

    &:last-child {
      margin-bottom: 0 !important;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      min-width: 250px;
      width: 300px;
    }

    > * + * {
      margin-left: 1rem;
    }
  }
}
